<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <bean class="com.tiny.springframework.bean.factory.PropertyPlaceHolderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>
    <bean class="com.tiny.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <bean id="beforeAdvice" class="com.tiny.springframework.aop_after.UserServiceBeforeAdvice"/>
    <bean id="methodInterceptor" class="com.tiny.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.tiny.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="methodInterceptor"/>
        <property name="expression" value="execution(* com.tiny.springframework.aop_after.IUserService.*(..))"/>
    </bean>

    <context:component-scan base-package="com.tiny.springframework.aop_after"/>

</beans>